In [1]:
import pyTigerGraph as tg 

token = tg.TigerGraphConnection(host="https://20bd42e3162a40db9ca0a2f0a4352948.i.tgcloud.io", graphname="CrunchBasePre_2013").getToken("YOUR_SECRET_HERE", "1000000")[0]

conn = tg.TigerGraphConnection(host="https://20bd42e3162a40db9ca0a2f0a4352948.i.tgcloud.io", graphname="CrunchBasePre_2013", apiToken=token)

In [2]:
data = conn.getSchema()

In [3]:
data["VertexTypes"][0]["Name"]

'company'

In [4]:
data = conn.getEdgeTypes()

In [5]:
data

['work_for_company',
 'hasDegree',
 'company_ipo',
 'company_funding_rounds',
 'financial_funds',
 'company_office',
 'financial_office',
 'company_product',
 'person_milestone',
 'company_milestone',
 'product_milestone',
 'financial_milestone',
 'investment_from_person',
 'investment_from_company',
 'investment_from_financialORG',
 'work_for_fOrg',
 'invested_by_person',
 'invested_by_financialORG',
 'acquire',
 'invest']

In [8]:
from pyTigerGraph import graphToDataFrame as tgDf

dfConn = tgDf.graphToDataFrame(conn)

df = dfConn.getVerticieDataframe("company", limit="10")

In [9]:
df.head()

,v_id,v_type,name,normalized_name,permalink,category_code,status,founded_at,closed_at,domain,...,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,relationships,created_by,created_at,update_at
0,c:411,company,,,,,,1970-01-01 00:00:00,1970-01-01 00:00:00,,...,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,1970-01-01 00:00:00,1970-01-01 00:00:00,0,,1970-01-01 00:00:00,1970-01-01 00:00:00
1,c:288,company,FeVote,fevote,/company/fevote,web,operating,2007-01-01 00:00:00,1970-01-01 00:00:00,fevote.com,...,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,1970-01-01 00:00:00,1970-01-01 00:00:00,1,initial-importer,2007-09-21 20:21:41,2008-08-10 13:12:45
2,c:270,company,Respectance,respectance,/company/respectance,web,operating,2006-06-01 00:00:00,1970-01-01 00:00:00,respectance.com,...,2007-06-01 00:00:00,2007-07-01 00:00:00,2,1750000,2010-07-09 00:00:00,2010-11-24 00:00:00,3,initial-importer,2007-07-25 06:23:44,2013-04-24 03:28:09
3,c:107,company,MeeVee,meevee,/company/meevee,games_video,acquired,2000-07-01 00:00:00,1970-01-01 00:00:00,meevee.com,...,2005-02-01 00:00:00,2007-09-01 00:00:00,4,25000000,2000-01-01 00:00:00,2013-03-03 00:00:00,7,initial-importer,2007-07-07 07:59:25,2009-04-26 05:09:47
4,c:81,company,Pownce,pownce,/company/pownce,web,acquired,2007-06-01 00:00:00,1970-01-01 00:00:00,pownce.com,...,2008-01-01 00:00:00,2008-01-01 00:00:00,1,0,2008-01-01 00:00:00,2013-08-07 00:00:00,6,initial-importer,2007-06-28 06:57:47,2013-03-16 13:14:41

In [10]:
edgeDf = dfConn.getEdgesDataframe("company", list(df["v_id"]))

In [11]:
edgeDf.head()

,e_type,directed,from_id,from_type,to_id,to_type,start_at,end_at,is_past,sequence,title,created_at,updated_at,term_code,price_amout,price_currency_code,acquired_at,source_url,source_description
0,work_for_company,False,c:411,company,p:1439,person,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,1.0,Founder,2008-02-05 22:44:00,2008-02-05 22:44:00,NaN,NaN,NaN,NaN,NaN,NaN
1,work_for_company,False,c:288,company,p:985,person,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,1.0,Founder,2008-02-05 22:43:58,2008-07-09 17:17:59,NaN,NaN,NaN,NaN,NaN,NaN
2,company_office,False,c:288,company,282,office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,work_for_company,False,c:270,company,p:950,person,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,1.0,Board,2007-07-25 06:25:52,2013-04-24 03:29:13,NaN,NaN,NaN,NaN,NaN,NaN
4,work_for_company,False,c:270,company,p:164538,person,2010-11-24 00:00:00,2013-04-22 00:00:00,1.0,1.0,CEO,2013-04-22 17:18:54,2013-04-24 03:29:13,NaN,NaN,NaN,NaN,NaN,NaN